In [169]:
import pandas as pd
import numpy as np

In [170]:
df=pd.read_csv("train_v9rqX0R.csv")

In [171]:
df.isnull()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,False,False,False,False,False,False,False,False,False,False,False,False
8519,False,False,False,False,False,False,False,False,True,False,False,False
8520,False,False,False,False,False,False,False,False,False,False,False,False
8521,False,False,False,False,False,False,False,False,False,False,False,False
8522,False,False,False,False,False,False,False,False,False,False,False,False

In [172]:
df1=pd.read_csv("test_AbJTz2l.csv")
df1

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3
...,...,...,...,...,...,...,...,...,...,...,...
5676,FDB58,10.500,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1
5677,FDD47,7.600,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2
5678,NCO17,10.000,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1
5679,FDJ26,15.300,Regular,0.000000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1
5680,FDU37,9.500,Regular,0.104720,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1

In [173]:
data=pd.concat([df,df1],ignore_index=True)
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
14199,FDB58,10.50,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1,NaN
14200,FDD47,7.60,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2,NaN
14201,NCO17,10.00,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1,NaN
14202,FDJ26,15.30,Regular,0.000000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1,NaN
14203,FDU37,9.50,Regular,0.104720,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1,NaN

In [174]:
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
14199,FDB58,10.50,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1,NaN
14200,FDD47,7.60,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2,NaN
14201,NCO17,10.00,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1,NaN
14202,FDJ26,15.30,Regular,0.000000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1,NaN
14203,FDU37,9.50,Regular,0.104720,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1,NaN

In [175]:
data.apply(lambda x: sum(x.isnull()))

Item_Identifier                 0
Item_Weight                  2439
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  4016
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales            5681
dtype: int64

In [176]:
data.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,11765.000000,14204.000000,14204.000000,14204.000000,8523.000000
mean,12.792854,0.065953,141.004977,1997.830681,2181.288914
std,4.652502,0.051459,62.086938,8.371664,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.710000,0.027036,94.012000,1987.000000,834.247400
50%,12.600000,0.054021,142.247000,1999.000000,1794.331000
75%,16.750000,0.094037,185.855600,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [177]:
import numpy as np

In [178]:
#Lets look at the unique at each feature
data.apply(lambda x:len(x.unique()))

Item_Identifier               1559
Item_Weight                    416
Item_Fat_Content                 5
Item_Visibility              13006
Item_Type                       16
Item_MRP                      8052
Outlet_Identifier               10
Outlet_Establishment_Year        9
Outlet_Size                      4
Outlet_Location_Type             3
Outlet_Type                      4
Item_Outlet_Sales             3494
dtype: int64

In [179]:
#Filter categorical variables
categorical_columns=[x for x in data.dtypes.index if data.dtypes[x]=='object']

In [180]:
#Exclude ID cols and source :
categorical_columns=[x for x in categorical_columns if x not in ['Item_Identifier','Outlet_Ientifier']]

In [181]:
#print frequency of categories
for col in categorical_columns:
    print("Frequency of categories for variable ",col)
    print(data[col].value_counts())

Frequency of categories for variable  Item_Fat_Content
Low Fat    8485
Regular    4824
LF          522
reg         195
low fat     178
Name: Item_Fat_Content, dtype: int64
Frequency of categories for variable  Item_Type
Fruits and Vegetables    2013
Snack Foods              1989
Household                1548
Frozen Foods             1426
Dairy                    1136
Baking Goods             1086
Canned                   1084
Health and Hygiene        858
Meat                      736
Soft Drinks               726
Breads                    416
Hard Drinks               362
Others                    280
Starchy Foods             269
Breakfast                 186
Seafood                    89
Name: Item_Type, dtype: int64
Frequency of categories for variable  Outlet_Identifier
OUT027    1559
OUT013    1553
OUT035    1550
OUT049    1550
OUT046    1550
OUT045    1548
OUT018    1546
OUT017    1543
OUT010     925
OUT019     880
Name: Outlet_Identifier, dtype: int64
Frequency of categories for variable  Outlet_Size
Medium    4655
Small     3980
High      1553
Name: Outlet_Size, dtype: int64
Frequency of categories for variable  Outlet_Location_Type
Tier 3    5583
Tier 2    4641
Tier 1    3980
Name: Outlet_Location_Type, dtype: int64
Frequency of categories for variable  Outlet_Type
Supermarket Type1    9294
Grocery Store        1805
Supermarket Type3    1559
Supermarket Type2    1546
Name: Outlet_Type, dtype: int64

In [182]:
#Determining the missing values from weight and size feature 
item_avg_weight=data.pivot_table(values="Item_Weight",index="Item_Identifier")
item_avg_weight['Item_Weight']['FDA10']
print(item_avg_weight.columns)

Index(['Item_Weight'], dtype='object')

In [183]:
#Get a boolean variable specifying missing Item_weight values
miss_bool=data['Item_Weight'].isnull()

In [184]:
#Impute data and check #missing values before and after imputation to confirm
print('Original Missing ',sum(miss_bool))

Original Missing  2439

In [185]:
data.loc[miss_bool,'Item_Weight']=data.loc[miss_bool,'Item_Identifier'].apply(lambda x:item_avg_weight['Item_Weight'][x])

In [186]:
print("Final Missing ",sum(data['Item_Weight'].isnull()))

#This confirms that no missing in column

Final Missing  0

In [187]:
#Now Impute Outlet Size 
#Import mode function 
from scipy.stats import mode

In [188]:
#Detrermine the mode foreach 
outlet_size_mode=data.pivot_table(values='Outlet_Size',columns='Outlet_Type',aggfunc=(lambda x:mode(x).mode[0]))
print('Mode for each Outlet_type')
print(outlet_size_mode['Grocery Store'][0])

Mode for each Outlet_type
Small

In [189]:
#Get a boolean specifying missing ITE_Weight values 
miss_bool=data['Outlet_Size'].isnull()

In [190]:
#Impute data and check missing values before and after imputation to confirm 
print('Original missing ',sum(miss_bool))

Original missing  4016

In [191]:
data.loc[miss_bool,'Outlet_Size']=data.loc[miss_bool,'Outlet_Type'].apply(lambda x:outlet_size_mode[x])

In [192]:
print(sum(data['Outlet_Size'].isnull()))

0

In [193]:
#Feature Engineering 
data.pivot_table(values='Item_Outlet_Sales',index='Outlet_Type')

                   Item_Outlet_Sales
Outlet_Type
Grocery Store             339.828500
Supermarket Type1        2316.181148
Supermarket Type2        1995.498739
Supermarket Type3        3694.038558

In [194]:
#Determine Average visibility of a product 

visibility_average=data.pivot_table(values='Item_Visibility',index='Item_Identifier')
visibility_average['Item_Visibility']['DRA12']

0.03493779266666667

In [195]:
#Impute 0 values with mean visibility of that product 
miss_bool=(data['Item_Visibility']==0)
print('Number of 0 values initially',sum(miss_bool))

Number of 0 values initially 879

In [196]:
data.loc[miss_bool,"Item_Visibility"]=data.loc[miss_bool,'Item_Identifier'].apply(lambda x:visibility_average['Item_Visibility'][x])
print('Number of 0 values after modifiation ',sum(data['Item_Visibility']==0))

Number of 0 values after modifiation  0

In [197]:
#Determine another variable with means ratio
data['Item_Visibility_MeanRatio']=data.apply(lambda x: x['Item_Visibility']/visibility_average['Item_Visibility'][x['Item_Identifier']],axis=1)
print(data['Item_Visibility_MeanRatio'].describe())

count    14204.000000
mean         1.061884
std          0.235907
min          0.844563
25%          0.925131
50%          0.999070
75%          1.042007
max          3.010094
Name: Item_Visibility_MeanRatio, dtype: float64

In [198]:
#Get the first two character of ID:
data['Item_Type_Combined']=data['Item_Identifier'].apply(lambda x:x[0:2])

In [199]:
#renaem them to more intuitive categories
data['Item_Type_Combined']=data['Item_Type_Combined'].map({'FD':'FOOD','NC':'Non-Consumable','DR':'Drinks'})
data['Item_Type_Combined'].value_counts()

FOOD              10201
Non-Consumable     2686
Drinks             1317
Name: Item_Type_Combined, dtype: int64

In [200]:
data['Outlet_Years']=2013-data['Outlet_Establishment_Year']
data['Outlet_Years'].describe()

count    14204.000000
mean        15.169319
std          8.371664
min          4.000000
25%          9.000000
50%         14.000000
75%         26.000000
max         28.000000
Name: Outlet_Years, dtype: float64

In [201]:
#change categories of low fat 
print('Original Categories')
print(data['Item_Fat_Content'].value_counts())

Original Categories
Low Fat    8485
Regular    4824
LF          522
reg         195
low fat     178
Name: Item_Fat_Content, dtype: int64

In [202]:
print('\n Modified Categories')
data['Item_Fat_Content']=data['Item_Fat_Content'].replace({'LF':'Low Fat','reg':'Regular','low fat':'Low Fat'})
print(data['Item_Fat_Content'].value_counts())

 Modified Categories
Low Fat    9185
Regular    5019
Name: Item_Fat_Content, dtype: int64

In [203]:
#Mark non-consumables as separate category in low_fat:
data.loc[data['Item_Type_Combined']=="Non-Consumable",'Item_Fat_Content'] = "Non-Edible"
data['Item_Fat_Content'].value_counts()

Low Fat       6499
Regular       5019
Non-Edible    2686
Name: Item_Fat_Content, dtype: int64

In [204]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [205]:
#New variable for outlet 
data['Outlet']=le.fit_transform(data['Outlet_Identifier'])
var_mod=['Item_Fat_Content','Outlet_Location_Type','Outlet_Size','Item_Type_Combined','Outlet_Type','Outlet']
le=LabelEncoder()

In [206]:
for i in var_mod:
    data[i]=le.fit_transform(data[i])

In [207]:
#One Hot Coding:
data = pd.get_dummies(data, columns=['Item_Fat_Content','Outlet_Location_Type','Outlet_Size','Outlet_Type',
                              'Item_Type_Combined','Outlet'])

In [208]:
data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Item_Outlet_Sales            float64
Item_Visibility_MeanRatio    float64
Outlet_Years                   int64
Item_Fat_Content_0             uint8
Item_Fat_Content_1             uint8
Item_Fat_Content_2             uint8
Outlet_Location_Type_0         uint8
Outlet_Location_Type_1         uint8
Outlet_Location_Type_2         uint8
Outlet_Size_0                  uint8
Outlet_Size_1                  uint8
Outlet_Size_2                  uint8
Outlet_Type_0                  uint8
Outlet_Type_1                  uint8
Outlet_Type_2                  uint8
Outlet_Type_3                  uint8
Item_Type_Combined_0           uint8
Item_Type_Combined_1           uint8
Item_Type_Combined_2           uint8
Outlet_0                       uint8
Outlet_1                       uint8
Outlet_2                       uint8
Outlet_3                       uint8
Outlet_4                       uint8
Outlet_5                       uint8
Outlet_6                       uint8
Outlet_7                       uint8
Outlet_8                       uint8
Outlet_9                       uint8
dtype: object

In [209]:
data[['Item_Fat_Content_0','Item_Fat_Content_1','Item_Fat_Content_2']].head(10)

   Item_Fat_Content_0  Item_Fat_Content_1  Item_Fat_Content_2
0                   1                   0                   0
1                   0                   0                   1
2                   1                   0                   0
3                   0                   0                   1
4                   0                   1                   0
5                   0                   0                   1
6                   0                   0                   1
7                   1                   0                   0
8                   0                   0                   1
9                   0                   0                   1

In [226]:
#data.drop(['Item_Type','Outlet_Establishment_Year'],axis=1,inplace=True)

train=data.iloc[0:8523,:]
test=data.iloc[8523:,:]
test.drop('Item_Outlet_Sales',axis=1,inplace=True)

/home/sourabh/.local/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [211]:
#Drop the columns which have been converted to different types:



#Drop unnecessary columns:
test.drop(['Item_Outlet_Sales'],axis=1,inplace=True)

#Export files as modified versions:
train.to_csv("train_modified.csv",index=False)
test.to_csv("test_modified.csv",index=False)

In [212]:
#MODEL BUILDING
#Mean Based\
mean_sale=train['Item_Outlet_Sales'].mean()

In [213]:
#Define a dataframe with IDs for submission:
#base1=test[['Item_Identifier','Outlet_Identifier']]
#base1['Item_Outlet_Sales']=mean_sale

#Export submission file 
#base1.to_csv('algo.csv',index=False)

In [214]:
#Define target and ID columns:
target = 'Item_Outlet_Sales'
IDcol = ['Item_Identifier','Outlet_Identifier']
from sklearn import cross_validation, metrics
def modelfit(alg, dtrain, dtest, predictors, target, IDcol, filename):
    #Fit the algorithm on the data
    alg.fit(dtrain[predictors], dtrain[target])
        
    #Predict training set:
    dtrain_predictions = alg.predict(dtrain[predictors])

    #Perform cross-validation:
    cv_score = cross_validation.cross_val_score(alg, dtrain[predictors], dtrain[target], cv=20, scoring='mean_squared_error')
    cv_score = np.sqrt(np.abs(cv_score))
    
    #Print model report:
    #print("\nModel Report"
   # print "RMSE : %.4g" % np.sqrt(metrics.mean_squared_error(dtrain[target].values, dtrain_predictions))
   # print "CV Score : Mean - %.4g | Std - %.4g | Min - %.4g | Max - %.4g" % (np.mean(cv_score),np.std(cv_score),np.min(cv_score),np.max(cv_score))
    
    #Predict on testing data:
    dtest[target] = alg.predict(dtest[predictors])
    
    #Export submission file:
    IDcol.append(target)
    submission = pd.DataFrame({ x: dtest[x] for x in IDcol})
    submission.to_csv(filename, index=False)

ImportError: cannot import name 'cross_validation' from 'sklearn' (/home/sourabh/.local/lib/python3.7/site-packages/sklearn/__init__.py)

In [215]:
!pip3 install cross_validation

Collecting cross_validation
Could not install packages due to an EnvironmentError: 404 Client Error: Not Found for url: https://pypi.org/simple/cross-validation/

In [101]:
train

,Item_Identifier,Item_Weight,Item_Visibility,Item_MRP,Outlet_Identifier,Item_Outlet_Sales,Item_Visibility_MeanRatio,Outlet_Years,Item_Fat_Content_0,Item_Fat_Content_1,...,Outlet_0,Outlet_1,Outlet_2,Outlet_3,Outlet_4,Outlet_5,Outlet_6,Outlet_7,Outlet_8,Outlet_9
0,FDA15,9.300,0.016047,249.8092,OUT049,3735.1380,0.931078,14,1,0,...,0,0,0,0,0,0,0,0,0,1
1,DRC01,5.920,0.019278,48.2692,OUT018,443.4228,0.933420,4,0,0,...,0,0,0,1,0,0,0,0,0,0
2,FDN15,17.500,0.016760,141.6180,OUT049,2097.2700,0.960069,14,1,0,...,0,0,0,0,0,0,0,0,0,1
3,FDX07,19.200,0.017834,182.0950,OUT010,732.3800,1.000000,15,0,0,...,1,0,0,0,0,0,0,0,0,0
4,NCD19,8.930,0.009780,53.8614,OUT013,994.7052,1.000000,26,0,1,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,0.056783,214.5218,OUT013,2778.3834,0.874001,26,1,0,...,0,1,0,0,0,0,0,0,0,0
8519,FDS36,8.380,0.046982,108.1570,OUT045,549.2850,1.001096,11,0,0,...,0,0,0,0,0,0,0,1,0,0
8520,NCJ29,10.600,0.035186,85.1224,OUT035,1193.1136,0.998881,9,0,1,...,0,0,0,0,0,0,1,0,0,0
8521,FDN46,7.210,0.145221,103.1332,OUT018,1845.5976,1.041620,4,0,0,...,0,0,0,1,0,0,0,0,0,0
8522,DRG01,14.800,0.044878,75.4670,OUT046,765.6700,1.027777,16,1,0,...,0,0,0,0,0,0,0,0,1,0

In [102]:
test

,Item_Identifier,Item_Weight,Item_Visibility,Item_MRP,Outlet_Identifier,Item_Visibility_MeanRatio,Outlet_Years,Item_Fat_Content_0,Item_Fat_Content_1,Item_Fat_Content_2
8523,FDW58,20.750,0.007565,107.8622,OUT049,1.029192,14,1,0,0
8524,FDW14,8.300,0.038428,87.3198,OUT017,1.130311,6,0,0,1
8525,NCN55,14.600,0.099575,241.7538,OUT010,1.735215,15,0,1,0
8526,FDQ58,7.315,0.015388,155.0340,OUT017,1.291577,6,1,0,0
8527,FDY38,13.600,0.118599,234.2300,OUT027,0.917824,28,0,0,1
...,...,...,...,...,...,...,...,...,...,...
14199,FDB58,10.500,0.013496,141.3154,OUT046,0.874729,16,0,0,1
14200,FDD47,7.600,0.142991,169.1448,OUT018,0.878292,4,0,0,1
14201,NCO17,10.000,0.073529,118.7440,OUT045,1.162245,11,0,1,0
14202,FDJ26,15.300,0.088380,214.6218,OUT017,1.000000,6,0,0,1
14203,FDU37,9.500,0.104720,79.7960,OUT045,1.029678,11,0,0,1

In [104]:
train

,Item_Identifier,Item_Weight,Item_Visibility,Item_MRP,Outlet_Identifier,Item_Outlet_Sales,Item_Visibility_MeanRatio,Outlet_Years,Item_Fat_Content_0,Item_Fat_Content_1,...,Outlet_0,Outlet_1,Outlet_2,Outlet_3,Outlet_4,Outlet_5,Outlet_6,Outlet_7,Outlet_8,Outlet_9
0,FDA15,9.300,0.016047,249.8092,OUT049,3735.1380,0.931078,14,1,0,...,0,0,0,0,0,0,0,0,0,1
1,DRC01,5.920,0.019278,48.2692,OUT018,443.4228,0.933420,4,0,0,...,0,0,0,1,0,0,0,0,0,0
2,FDN15,17.500,0.016760,141.6180,OUT049,2097.2700,0.960069,14,1,0,...,0,0,0,0,0,0,0,0,0,1
3,FDX07,19.200,0.017834,182.0950,OUT010,732.3800,1.000000,15,0,0,...,1,0,0,0,0,0,0,0,0,0
4,NCD19,8.930,0.009780,53.8614,OUT013,994.7052,1.000000,26,0,1,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,0.056783,214.5218,OUT013,2778.3834,0.874001,26,1,0,...,0,1,0,0,0,0,0,0,0,0
8519,FDS36,8.380,0.046982,108.1570,OUT045,549.2850,1.001096,11,0,0,...,0,0,0,0,0,0,0,1,0,0
8520,NCJ29,10.600,0.035186,85.1224,OUT035,1193.1136,0.998881,9,0,1,...,0,0,0,0,0,0,1,0,0,0
8521,FDN46,7.210,0.145221,103.1332,OUT018,1845.5976,1.041620,4,0,0,...,0,0,0,1,0,0,0,0,0,0
8522,DRG01,14.800,0.044878,75.4670,OUT046,765.6700,1.027777,16,1,0,...,0,0,0,0,0,0,0,0,1,0

In [216]:
target=train['Item_Outlet_Sales']

In [231]:
from sklearn.preprocessing import MinMaxScaler



train.drop('Item_Outlet_Sales',axis=1,inplace=True)
print(train.columns)

KeyError: "['Item_Outlet_Sales'] not found in axis"

In [232]:
train.drop('Item_Identifier',axis=1,inplace=True)

/home/sourabh/.local/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [233]:
train.drop('Outlet_Identifier',axis=1,inplace=True)

/home/sourabh/.local/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [234]:
test.drop('Item_Identifier',axis=1,inplace=True)
test.drop('Outlet_Identifier',axis=1,inplace=True)

/home/sourabh/.local/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [235]:
train

,Item_Weight,Item_Visibility,Item_MRP,Item_Visibility_MeanRatio,Outlet_Years,Item_Fat_Content_0,Item_Fat_Content_1,Item_Fat_Content_2,Outlet_Location_Type_0,Outlet_Location_Type_1,...,Outlet_0,Outlet_1,Outlet_2,Outlet_3,Outlet_4,Outlet_5,Outlet_6,Outlet_7,Outlet_8,Outlet_9
0,9.300,0.016047,249.8092,0.931078,14,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1,5.920,0.019278,48.2692,0.933420,4,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
2,17.500,0.016760,141.6180,0.960069,14,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3,19.200,0.017834,182.0950,1.000000,15,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
4,8.930,0.009780,53.8614,1.000000,26,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,6.865,0.056783,214.5218,0.874001,26,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
8519,8.380,0.046982,108.1570,1.001096,11,0,0,1,0,1,...,0,0,0,0,0,0,0,1,0,0
8520,10.600,0.035186,85.1224,0.998881,9,0,1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
8521,7.210,0.145221,103.1332,1.041620,4,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
8522,14.800,0.044878,75.4670,1.027777,16,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0

In [236]:
test

,Item_Weight,Item_Visibility,Item_MRP,Item_Visibility_MeanRatio,Outlet_Years,Item_Fat_Content_0,Item_Fat_Content_1,Item_Fat_Content_2,Outlet_Location_Type_0,Outlet_Location_Type_1,...,Outlet_0,Outlet_1,Outlet_2,Outlet_3,Outlet_4,Outlet_5,Outlet_6,Outlet_7,Outlet_8,Outlet_9
8523,20.750,0.007565,107.8622,1.029192,14,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
8524,8.300,0.038428,87.3198,1.130311,6,0,0,1,0,1,...,0,0,1,0,0,0,0,0,0,0
8525,14.600,0.099575,241.7538,1.735215,15,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
8526,7.315,0.015388,155.0340,1.291577,6,1,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
8527,13.600,0.118599,234.2300,0.917824,28,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14199,10.500,0.013496,141.3154,0.874729,16,0,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0
14200,7.600,0.142991,169.1448,0.878292,4,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
14201,10.000,0.073529,118.7440,1.162245,11,0,1,0,0,1,...,0,0,0,0,0,0,0,1,0,0
14202,15.300,0.088380,214.6218,1.000000,6,0,0,1,0,1,...,0,0,1,0,0,0,0,0,0,0
14203,9.500,0.104720,79.7960,1.029678,11,0,0,1,0,1,...,0,0,0,0,0,0,0,1,0,0

In [237]:




# fit scaler on training data
norm = MinMaxScaler().fit(train)

# transform training dat"a
X_train_norm = norm.transform(train)
print("Scaled Train Data: \n\n")
print(X_train_norm)

# transform testing dataabs
X_test_norm = norm.transform(test)
print("\n\nScaled Test Data: \n\n")
print(X_test_norm)

Scaled Train Data:


[[0.28252456 0.03839895 0.92750715 ... 0.         0.         1.        ]
 [0.08127419 0.04834585 0.0720684  ... 0.         0.         0.        ]
 [0.77076511 0.04059334 0.46828841 ... 0.         0.         1.        ]
 ...
 [0.35992855 0.0973214  0.22849221 ... 0.         0.         0.        ]
 [0.15808276 0.43608024 0.30493925 ... 0.         0.         0.        ]
 [0.61000298 0.12715984 0.18750976 ... 0.         1.         0.        ]]


Scaled Test Data:


[[0.96427508 0.01228429 0.32501155 ... 0.         0.         1.        ]
 [0.22298303 0.1073006  0.2378191  ... 0.         0.         0.        ]
 [0.59809467 0.29555236 0.89331591 ... 0.         0.         0.        ]
 ...
 [0.32420363 0.21536442 0.37119946 ... 1.         0.         0.        ]
 [0.63977374 0.26108724 0.77815384 ... 0.         0.         0.        ]
 [0.29443287 0.31139284 0.20588425 ... 1.         0.         0.        ]]

In [246]:
# training a KNN model 
from sklearn.svm import SVR
from  sklearn.metrics import mean_squared_error

In [257]:
trainX=[train,X_train_norm]
testX=[test,X_test_norm]

trainX

[      Item_Weight  Item_Visibility  Item_MRP  Item_Visibility_MeanRatio  \
 0           9.300         0.016047  249.8092                   0.931078
 1           5.920         0.019278   48.2692                   0.933420
 2          17.500         0.016760  141.6180                   0.960069
 3          19.200         0.017834  182.0950                   1.000000
 4           8.930         0.009780   53.8614                   1.000000
 ...           ...              ...       ...                        ...
 8518        6.865         0.056783  214.5218                   0.874001
 8519        8.380         0.046982  108.1570                   1.001096
 8520       10.600         0.035186   85.1224                   0.998881
 8521        7.210         0.145221  103.1332                   1.041620
 8522       14.800         0.044878   75.4670                   1.027777

       Outlet_Years  Item_Fat_Content_0  Item_Fat_Content_1  \
 0               14                   1                   0
 1                4                   0                   0
 2               14                   1                   0
 3               15                   0                   0
 4               26                   0                   1
 ...            ...                 ...                 ...
 8518            26                   1                   0
 8519            11                   0                   0
 8520             9                   0                   1
 8521             4                   0                   0
 8522            16                   1                   0

       Item_Fat_Content_2  Outlet_Location_Type_0  Outlet_Location_Type_1  ...  \
 0                      0                       1                       0  ...
 1                      1                       0                       0  ...
 2                      0                       1                       0  ...
 3                      1                       0                       0  ...
 4                      0                       0                       0  ...
 ...                  ...                     ...                     ...  ...
 8518                   0                       0                       0  ...
 8519                   1                       0                       1  ...
 8520                   0                       0                       1  ...
 8521                   1                       0                       0  ...
 8522                   0                       1                       0  ...

       Outlet_0  Outlet_1  Outlet_2  Outlet_3  Outlet_4  Outlet_5  Outlet_6  \
 0            0         0         0         0         0         0         0
 1            0         0         0         1         0         0         0
 2            0         0         0         0         0         0         0
 3            1         0         0         0         0         0         0
 4            0         1         0         0         0         0         0
 ...        ...       ...       ...       ...       ...       ...       ...
 8518         0         1         0         0         0         0         0
 8519         0         0         0         0         0         0         0
 8520         0         0         0         0         0         0         1
 8521         0         0         0         1         0         0         0
 8522         0         0         0         0         0         0         0

       Outlet_7  Outlet_8  Outlet_9
 0            0         0         1
 1            0         0         0
 2            0         0         1
 3            0         0         0
 4            0         0         0
 ...        ...       ...       ...
 8518         0         0         0
 8519         1         0         0
 8520         0         0         0
 8521         0         0         0
 8522         0         1         0

 [8523 rows x 31 columns],
 array([[0.28252456, 0.03839895, 0.92750715, ..., 0.        , 0.        ,
         1.        ],
        [0.08127419, 0.04834585, 0.0720684 , ..., 0.        , 0.        ,
         0.        ],
        [0.77076511, 0.04059334, 0.46828841, ..., 0.        , 0.        ,
         1.        ],
        ...,
        [0.35992855, 0.0973214 , 0.22849221, ..., 0.        , 0.        ,
         0.        ],
        [0.15808276, 0.43608024, 0.30493925, ..., 0.        , 0.        ,
         0.        ],
        [0.61000298, 0.12715984, 0.18750976, ..., 0.        , 1.        ,
         0.        ]])]

In [253]:
#SVR
svr=SVR(kernel='rbf',C=5)
rmse=[]

#raw normalized data
trainX=[train,X_train_norm]
testX=[test,X_test_norm]

#model fitting and measuring RMSE
for i in range(len(trainX)):
    #fit 
    svr.fit(trainX[i],target)
    #predict
    pred=svr.predict(testX[i])
    #RMSE
    rmse.append(np.sqrt(mean_squared_error(y_test,pred)))

ValueError: Found input variables with inconsistent numbers of samples: [8523, 5681]